header.masthead {
  background: url("../img/bg-masthead-2.jpg");
  background-size: 100% 100%;
}

.testimonials {
  padding-top: 3rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  min-height: 18rem;
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.testimonials .testimonial-item img:hover {
  min-height: 18rem;
  max-width: 12rem;
  box-shadow: 0px 8px 8px 0px #28a745;
}

.page-link{
  color: #28a745;
}

a.page-link:hover {
  color: #28a745;
}

.page-item.active .page-link {
  color: whitesmoke;
  background-color: #28a745;
  border-color: #28a745;
}