<!DOCTYPE html>
<html>

<head>
    <title>Detail</title>
    <meta charset="utf-8" />
    <meta name="author" content="Thai Ly Anh Khue" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/detail.css">
</head>

<body>
    <nav id="main-header">
        <div id="main-header-wrapper">
            <div id="logo">
            </div>
            <span id="MoRe-text">AK Phim</span>
            <div id="account-tool">
                <a href="/">
                    <span>Sign In</span>
                </a>
                <a href="/">
                    <button>
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </nav>

    <section id="main-body">
        <div id="main-body-wrapper">
            <div id="left_col">
                <div class="item-box">
                    <img src="img/infinity_war.jpg">
                </div>
                <div class="alert alert-info">
                    Phim sắp ra mắt
                </div>
            </div>
            <div id="right_col">
                <aside id="main-info">
                    <h1 class="title">Avengers: Infinity War</h1>
                    <h2 class="year">2018</h2>
                </aside>
                <aside class="category">
                    <h1>Thể loại</h1>
                    Action / Adventure / Sci-Fi
                </aside>
                <aside class="director">
                    <h1>Đạo diễn</h1>
                    Anh Khue
                </aside>
                <aside class="actor">
                    <h1>Diễn viên</h1>
                    Bruce Wayne, Diana Prince, Clark Kent,...
                </aside>
                <aside class="rate-no">
                    <h1>Đánh giá</h1>
                    3.2
                    <span class="fa fa-star"></span> / 100 rates
                </aside>
                <div id="watch-buttons">
                    <h2>Xem phim</h2>
                    <div class="buttons-group">
                        <button>Vừng TV</button>
                        <button>HD Online</button>
                    </div>
                </div>
                <aside id="high-votes">
                    <strong>50%</strong> người xem đánh giá cao phim này
                    <strong>(100 votes)</strong>
                </aside>
            </div>
        </div>

        <div class="main-panel">
            <div class="panel-header">
                <div class="panel-title">
                    Có thể bạn sẽ thích
                </div>
            </div>
            <div class="panel-body">
                <div class="item-box">
                    <img src="img/infinity_war.jpg">
                    <span class="item-title-en">Avengers: Infinity War</span>
                    <h4 class="item-title-vn">Avengers: Cuộc chiến vô cực</h4>
                </div>
                <div class="item-box">
                    <img src="img/black_panther.jpeg">
                    <span class="item-title-en">Black Panther</span>
                    <h4 class="item-title-vn">Chiến binh báo đen</h4>
                </div>
                <div class="item-box">
                    <img src="img/spider_man.jpeg">
                    <span class="item-title-en">Spider-man</span>
                    <h4 class="item-title-vn">Người nhện</h4>
                </div>
                <div class="item-box">
                    <img src="img/justice_league.jpeg">
                    <span class="item-title-en">Justice League</span>
                    <h4 class="item-title-vn">Liên Minh Công Lý</h4>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <div class="footer-item info">
            <span>AK Phim Corporation &sdot; (+84)0121-6989-609 &sdot;</span>
            <span>khuetlase62541@fpt.edu.vn</span>
            <span>&copy; AK Phim 2018. All Rights Reserved.</span>
        </div>
        <div class="footer-item contacts">
            <i class="icon ion-logo-facebook"></i>
            <i class="icon ion-logo-twitter"></i>
            <i class="icon ion-logo-instagram"></i>
        </div>
    </div>
</body>

</html>