<!DOCTYPE html>
<html>

<head>
    <title>Detail</title>
    <meta charset="utf-8" />
    <meta name="author" content="Thai Ly Anh Khue" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
    <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/error.css">
</head>

<body>
    <nav id="main-header">
        <div id="main-header-wrapper">
            <div id="logo">
            </div>
            <span id="MoRe-text">AK Phim</span>
            <div id="account-tool">
                <a href="/">
                    <span>Sign In</span>
                </a>
                <a href="/">
                    <button>
                        Sign Up
                    </button>
                </a>
            </div>
        </div>
    </nav>

    <section id="main-body">
        <div id="main-body-wrapper">
            <div class="message">
                Xin lỗi!
            </div>
            <div class="message">
                Không tìm thấy trang bạn yêu cầu
            </div>
            <img class="error-img" src="img/panda-404.png" alt="">
        </div>
    </section>
    <div class="footer">
        <div class="footer-item info">
            <span>AK Phim Corporation &sdot; (+84)0121-6989-609 &sdot;</span>
            <span>khuetlase62541@fpt.edu.vn</span>
            <span>&copy; AK Phim 2018. All Rights Reserved.</span>
        </div>
        <div class="footer-item contacts">
            <i class="icon ion-logo-facebook"></i>
            <i class="icon ion-logo-twitter"></i>
            <i class="icon ion-logo-instagram"></i>
        </div>
    </div>
</body>

</html>